@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 173 99% 35%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46.1%;
    --accent: 220 13% 91%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 173 99% 35%;
    --radius: 0.75rem;
    --sidebar-background: 240 5% 96%;
    --sidebar-foreground: 240 6% 10%;
    --sidebar-accent: 240 5% 90%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 240 5% 90%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --background: 224 15% 11%;
    --foreground: 210 20% 98%;
    --card: 224 14% 14%;
    --card-foreground: 210 20% 98%;
    --popover: 224 15% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 173 99% 35%;
    --primary-foreground: 173 20% 98%;
    --secondary: 224 15% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 224 15% 20%;
    --muted-foreground: 210 20% 60%;
    --accent: 224 15% 20%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 15% 20%;
    --input: 224 15% 20%;
    --ring: 173 99% 35%;
    --radius: 0.75rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 150 50% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
